.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:auto;
    background-color: #f8f8f8;
    bottom:0;
    padding:15px 0;
    font-family: Poppins;
    flex-shrink: 0;
}

.footerTxt{
    font-family:Poppins;
}