.singlePostWrapper{
    padding:30px;
    display:flex;
    flex-direction: column;
}

.singlePostImg{
    overflow-x: hidden;
    width:100%;
    height:500px;
    border-radius:10px;
    object-fit:cover;
}

.singlePostTitle{
    text-align: center;
    margin:10px 0;
    font-family: Oswald;
    font-size: 2.6em;
}

.singlePostEdit{
    float:right;
    font-size: .5em;
    opacity: .8;
}

.singlePostIcon{
    cursor: pointer;
    padding:8px;
    border-radius: 10px;
}

.singlePostIcon:first-child{
    background-color: rgb(145, 255, 222);
    margin-right :10px;
}

.singlePostIcon:last-child{
    background-color: rgb(255, 168, 168);
}

.singlePostInfo{
    margin-bottom: 25px;
    display:flex;
    justify-content:space-between;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 16px;
    color:rgb(92, 92, 92);
}

.singlePostDesc{
    color:rgb(70, 70, 70);
    font-size:18px;
    font-family: 'Poppins';
    line-height:32px
}

.singlePostDesc::first-letter{
    margin-left: 25px;
    font-size: 30px;
    font-weight: 800px;
}

/* update mode styles */

.singlePostTitleInput{
    margin:10px 0;
    font-family: Oswald;
    font-size: 2.6em;
    text-align: center;
    outline: none;
    color:gray;
    border: 1px solid gray;
    border-radius: 10px;
}

.singlePostTitleInput:focus{
    outline: none;
}

.singlePostDescInput{
    font-size:18px;
    font-family: 'Poppins';
    line-height:32px;
    outline: none;
    color:gray;
    border: 1px solid gray;
    border-radius: 10px;
}

.singlePostBtn{
    align-self: flex-end;
    font-family: 'Poppins';
    font-weight: 600;
    width:120px;
    margin-top:30px;
    padding:  10px 25px ;
    border-radius: 15px;
    background-color: #0070f3;
    box-shadow: 0 4px 14px 0 rgba(0, 119, 255, 0.37);
    color: white;
    border:none;
    cursor: pointer;
}