@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.header{
    margin:60px;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-bottom:35px;
}

.headerTitle{
    font-size:8em;
    font-family: 'Abril Fatface';
}

.headerSubtitle{
    font-size: 2em;
    color: rgba(0, 0, 0, 0.75);
}

.expbtn{
    font-family: 'Poppins';
    font-weight: 600;
    margin-top:30px;
    padding:  10px 25px ;
    border-radius: 15px;
    background-color: #0070f3;
    box-shadow: 0 4px 14px 0 rgba(0, 119, 255, 0.37);
    color: white;
    border:none;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .headerTitle{
        font-size: 6em;
    }
}