.navbar{
    width: 100%;
    height:auto;
    background-color: #f8f8f8;
    position:sticky;
    top:0;
    padding:15px 0;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: Poppins;
    z-index:9999;
}

.topleft,.topright{
    flex:3;
    /* background-color:red; */
    display:flex;
    align-items:center;
    justify-content: center;
}

.topcenter{
    flex:6
}

.topleft{
    cursor: pointer;
}

.navlist{
    display: flex;
    justify-content:center;
    margin: 0 ;
    padding: 0;
    list-style:none ;
}

.navitem{
    margin-right: 20px;
    font-weight: 400;
    cursor: pointer;
}

.blogtitle{
    font-weight: 700;
    margin-left: .4em;
}

.userimg{
    width:40px;
    height:40px;
    border-radius: 30%;
    object-fit: cover;
    cursor: pointer;
}

.searchicon{
    color:#666;
    cursor: pointer;
    margin-left: 15px;
}

@media screen and (max-width:1000px){
    .blogtitle{
        display:none
    }
}